Repository panda-lang/reposilite, pull requests merged in 2018-11, with the labels that each got.

#22 Update maven dependencies
  pom.xml
Labels: dependencies

#31 Transform controllers to rest controllers
  src/main/java/net/dzikoysk/reposilite/auth/LoginController.java
  src/main/java/net/dzikoysk/reposilite/config/ReposiliteConfiguration.java
  src/main/java/net/dzikoysk/reposilite/depository/DepositoryController.java
  src/main/java/net/dzikoysk/reposilite/depository/DepositoryFacade.java
  src/main/java/net/dzikoysk/reposilite/depository/DepositoryRepository.java
  src/main/java/net/dzikoysk/reposilite/depository/DepositoryResponse.java
  src/main/java/net/dzikoysk/reposilite/home/HomeController.java
  src/main/java/net/dzikoysk/reposilite/profile/ProfileController.java
  src/main/resources/application.properties
Labels: backend, improvement

#34 Add code style
  docs/Reposilite Code Style.xml
Labels: improvement

#43 Implement vue starter kit
  .gitignore
  reposilite-frontend/.gitkeep
  reposilite-frontend/babel.config.js
  reposilite-frontend/package.json
  reposilite-frontend/public/favicon.ico
  reposilite-frontend/public/index.html
  reposilite-frontend/src/App.vue
  reposilite-frontend/src/assets/logo.png
  reposilite-frontend/src/components/HelloWorld.vue
  reposilite-frontend/src/main.js
Labels: backend, enhancement

#45 Add nodemon dependency and improve startup script
  reposilite-frontend/package.json
Labels: enhancement, frontend

#50 Enable CORS
  reposilite-backend/src/main/java/org/panda_lang/reposilite/config/WebConfiguration.java
Labels: backend, enhancement

#51 Replace user id with mongo's unpredictable ObjectId
  reposilite-backend/src/main/java/org/panda_lang/reposilite/user/User.java
  reposilite-backend/src/main/java/org/panda_lang/reposilite/user/role/Role.java
Labels: backend, bug

#53 Remove old frontend elements from the backend
  reposilite-backend/src/main/java/org/panda_lang/reposilite/config/JadeTemplateConfiguration.java
  reposilite-backend/src/main/resources/static/.gitkeep
  reposilite-backend/src/main/resources/static/style/home.css
  reposilite-backend/src/main/resources/static/style/home.sass
  reposilite-backend/src/main/resources/templates/home.jade
Labels: backend, improvement

#55 GH-54 Fix port conflict
  reposilite-backend/src/main/resources/application.properties
Labels: backend, bug

#56 Fix registration form
  reposilite-backend/pom.xml
  reposilite-backend/src/main/java/org/panda_lang/reposilite/auth/FieldNotNullAndEmpty.java
  reposilite-backend/src/main/java/org/panda_lang/reposilite/user/UserRegistrationForm.java
Labels: backend, bug

#58 Add Mergify
  .mergify.yml
Labels: enhancement

#60 Disable email notifications in travis
  .travis.yml
Labels: improvement

#79 Add UIkit framework
  reposilite-frontend/public/index.html
Labels: enhancement, frontend
