Repository panda-lang/reposilite, pull requests merged in 2019-01, with the labels that each got.

#102 Restore spring shell's default commands
  reposilite-backend/pom.xml
Labels: backend, improvement

#89 Add landing page
  reposilite-frontend/package.json
  reposilite-frontend/public/index.html
  reposilite-frontend/src/App.vue
  reposilite-frontend/src/assets/bg.jpg
  reposilite-frontend/src/main.js
  reposilite-frontend/src/router/index.js
  reposilite-frontend/src/router/routes.js
  reposilite-frontend/src/routes/home/HomeView.vue
  reposilite-frontend/src/routes/home/components/.gitkeep
  reposilite-frontend/src/routes/home/components/Navbar.vue
  reposilite-frontend/src/routes/home/components/Search.vue
  reposilite-frontend/src/routes/login/LoginView.vue
  reposilite-frontend/src/routes/register/RegisterView.vue
  reposilite-frontend/src/services/user.service.js
  reposilite-frontend/src/utils/auth.utils.js
  reposilite-frontend/src/utils/toastr.utils.js
Labels: frontend, improvement

#113 Replace authentication endpoint with user details endpoint (Closes #109)
  reposilite-backend/src/main/java/org/panda_lang/reposilite/auth/AuthenticationController.java
  reposilite-backend/src/main/java/org/panda_lang/reposilite/organization/OrganizationController.java
  reposilite-backend/src/main/java/org/panda_lang/reposilite/user/UserController.java
  reposilite-backend/src/test/java/org.panda_lang.reposilite/auth/AuthenticationControllerIntegrationTest.java
  reposilite-backend/src/test/java/org.panda_lang.reposilite/auth/AuthenticationControllerTest.java
  reposilite-backend/src/test/java/org.panda_lang.reposilite/user/UserControllerIntegrationTest.java
Labels: backend, improvement

#115 JUnit5
  README.md
  reposilite-backend/pom.xml
  reposilite-backend/src/test/java/org.panda_lang.reposilite/ReposiliteApplicationIntegrationTest.java
  reposilite-backend/src/test/java/org.panda_lang.reposilite/auth/RegistrationControllerIntegrationTest.java
  reposilite-backend/src/test/java/org.panda_lang.reposilite/auth/RegistrationControllerTest.java
  reposilite-backend/src/test/java/org.panda_lang.reposilite/depository/AbstractDepositoryOwnerBuilderTest.java
  reposilite-backend/src/test/java/org.panda_lang.reposilite/depository/maven/MavenMavenDepositoryControllerIntegrationTest.java
  reposilite-backend/src/test/java/org.panda_lang.reposilite/depository/maven/MavenMavenDepositoryPathTest.java
  reposilite-backend/src/test/java/org.panda_lang.reposilite/depository/maven/MavenMavenDepositoryRepositoryIntegrationTest.java
  reposilite-backend/src/test/java/org.panda_lang.reposilite/depository/maven/MavenMavenDepositoryServiceIntegrationTest.java
  reposilite-backend/src/test/java/org.panda_lang.reposilite/depository/maven/MavenMetadataFileBuilderTest.java
  reposilite-backend/src/test/java/org.panda_lang.reposilite/depository/maven/artifact/ArtifactControllerIntegrationTest.java
  reposilite-backend/src/test/java/org.panda_lang.reposilite/depository/maven/build/BuildControllerIntegrationTest.java
  reposilite-backend/src/test/java/org.panda_lang.reposilite/depository/maven/group/GroupControllerIntegrationTest.java
  reposilite-backend/src/test/java/org.panda_lang.reposilite/organization/OrganizationBuilderTest.java
  reposilite-backend/src/test/java/org.panda_lang.reposilite/user/UserAuthenticationDtoTest.java
  reposilite-backend/src/test/java/org.panda_lang.reposilite/user/UserBuilderTest.java
  reposilite-backend/src/test/java/org.panda_lang.reposilite/user/UserCommandsIntegrationTest.java
  reposilite-backend/src/test/java/org.panda_lang.reposilite/user/UserControllerIntegrationTest.java
  reposilite-backend/src/test/java/org.panda_lang.reposilite/user/UserRegistrationDtoTest.java
  reposilite-backend/src/test/java/org.panda_lang.reposilite/user/role/RoleCommandsIntegrationTest.java
  reposilite-backend/src/test/java/org.panda_lang.reposilite/user/role/RoleFactoryIntegrationTest.java
  reposilite-backend/src/test/java/org.panda_lang.reposilite/utils/AbstractCrudControllerIntegrationTest.java
  reposilite-backend/src/test/java/org.panda_lang.reposilite/utils/BeanUtilTest.java
Labels: backend, improvement

#120 Part of the dashboard
  reposilite-frontend/src/App.vue
  reposilite-frontend/src/router/routes.js
  reposilite-frontend/src/routes/dashboard/DashboardView.vue
  reposilite-frontend/src/routes/dashboard/components/Navbar.vue
  reposilite-frontend/src/routes/home/HomeView.vue
  reposilite-frontend/src/routes/home/components/Navbar.vue
Labels: enhancement, frontend
